@page "/"
@using timeorganizer.Services
@inject AuthServiceSetUser service

@if (service.CurrentUser.Identity.IsAuthenticated)
{
    // ZALOGOWANY
    <div id="container">
        <div>
        @inject ToDoService taskService
        @inject NavigationManager NavigationManager
            <img src="" alt="logo" />
            <h2> Witaj!</h2>
            <h3> Nadchodzące zadania:</h3>

            <h2>Statystyki:</h2>

            <p>Do zrobienia zadania</p>
            

            @foreach (var task in taskService.showTask.TasksCollection)
            {
                <div class="d-flex flex-row border p-2" style="cursor: pointer;">
                    <p class="mr-3 mb-0">@task.Name</p>
                    <p class="mr-3 mb-0">@task.Description</p>
                    <p class="mr-3 mb-0">@task.Type</p>
                    <p class="mr-3 mb-0">@task.status</p>
                    <p class="mr-3 mb-0">@task.Termin</p>
                    <button @onclick="@(e => RedirectToDetails(@task.Id))">Szczegóły zadania</button>
                </div>
                @code {
            private async void RedirectToDetails(int taskId)
            {
                taskService.AddSTask.TaskId = taskId;
                await taskService.AddSTask.GetTask();
                NavigationManager.NavigateTo("/subtask");
            }
            private void Przenies()
            {
                NavigationManager.NavigateTo("/addtask");
            }
        }
}
            @code {
            protected override void OnAfterRender(bool firstRender)
            {
                taskService.showTask.Status = "Act";
                if (firstRender)
                {
                    filterTask();
                    StateHasChanged();
                }
            }
            public async void filterTask()
            {
                await taskService.showTask.FilterTasks();
                StateHasChanged();
            }
        }

            <p>Postęp</p>

        </div>
    </div>
}
else
{
    // NIEZALOGOWANY
	<div id="container">
		<img src="logoTO.jpg" alt="Logo TO">
		<p1> STRONA GŁOWNA MOZNA ROBIC - WSPOLNA DLA UZYTKOWNIKA ZALOGOWANEGO I NIEZALOGOWANEGO (CHYBA ZE OGARNE JAK ZROBIC ZEBY NIE BYLA WSPOLNA XD</p1>
		<h1> Docelowo strona główna dla niezalogowanego użytkownika</h1>

		<a href="login" class="button">Logowanie</a>
		<a href="register" class="button">Rejestracja</a>

	</div>
}

