@page "/register"
@using timeorganizer.Service
@inject RegisterService registerservice

<div class="container">
	<h2> Rejestracja</h2>
	<p>Podaj Email</p>
	<input @bind="@registerservice.Email" />
	<p>Podaj Login</p>
	<input @bind="@registerservice.Login" />
	<p>Podaj hasło</p>
	<input @bind="@registerservice.Password" />
	<p>Powtórz hasło</p>
	<input @bind="@registerservice.PasswordVerification" />

	<button class="btn btn-primary" @onclick="@(() => registerservice.RegisterCommand.Execute(true))"> Zapisz</button>
	<a href="/Login" class="button">Zaloguj</a>

</div>