@page "/register"
@using timeorganizer.Services
@inject RegisterService registerservice
@inject AuthServiceSetUser auth
@if (!auth.CurrentUser.Identity.IsAuthenticated)
{
	
<div class="container">
	<img src="vizualization2.png">
	<h2> SIGN UP</h2> 
	<input @bind="@registerservice.Email" placeholder="Podaj email" />
	<input @bind="@registerservice.Login" placeholder="Podaj login"/>
		<input @bind="@registerservice.Password" placeholder="Podaj hasło" type="password" />
		<input @bind="@registerservice.PasswordVerification" placeholder="Powtórz hasło" type="password" />

	<button class="btn btn-primary" @onclick="@(() => registerservice.RegisterCommand.Execute(true))"> Zapisz</button> <br/>
	<a href="/Login" class="button">Zaloguj</a>

</div>
}
else
{
<div>jestes juz zalogowany!!</div>
}

