@page "/register"
@using timeorganizer.Services
@inject RegisterService registerservice
@inject AuthServiceSetUser auth
@if (!auth.CurrentUser.Identity.IsAuthenticated)
{
	
<div class="container">
	<h2> Rejestracja</h2>
	<p>Podaj Email</p>
	<input @bind="@registerservice.Email" />
	<p>Podaj Login</p>
	<input @bind="@registerservice.Login" />
	<p>Podaj hasło</p>
	<input @bind="@registerservice.Password" />
	<p>Powtórz hasło</p>
	<input @bind="@registerservice.PasswordVerification" />

	<button class="btn btn-primary" @onclick="@(() => registerservice.RegisterCommand.Execute(true))"> Zapisz</button>
	<a href="/Login" class="button">Zaloguj</a>

</div>
}
else
{
<div>jestes juz zalogowany!!</div>
}

