@page "/todo"
@using timeorganizer.Services
@using timeorganizer.Helpers

<div class="container">
        <h2> Nowe zadanie</h2><button @onclick="@(e => Przenies(0))">Dodaj </button>
@inject ToDoService taskService
@inject NavigationManager NavigationManager

    <br /><br /><h2>Wybierz kategorię i kliknij przycisk "Filtruj"</h2>
        <label>Typ</label>
        <input @bind="@taskService.showTask.Typ" />

                <label>Status zadania</label> 
                <InputSelect @bind-Value="taskService.showTask.Status">
                    @foreach (var status in taskService.showTask.StatusStr) {
                        <option value="@status">@status</option>
                    }
                </InputSelect> 

        <label>Data</label> 
        <InputDate Type="InputDateType.Date" class="form-eliment jds-d-inline-block jds-max-width150" @bind-Value="taskService.showTask.TerminD"> </InputDate>

    <button @onclick="@filterTask" style="margin: 10px auto; display: block;">Filtruj</button>
  
        @foreach (var task in taskService.showTask.TasksCollection) {
    <div class="d-flex flex-row border p-2" style="cursor: pointer;">
        <p class="mr-3 mb-0">@task.Name</p>
        <p class="mr-3 mb-0">@task.Description</p>
        <p class="mr-3 mb-0">@task.Type</p>
        <p class="mr-3 mb-0">@task.Status</p>
        <p class="mr-3 mb-0">@task.Termin</p>
        <button @onclick="@(e => RedirectToDetails(@task.Id))">Szczegóły zadania</button>
    </div>
}
        @code {
            private async void RedirectToDetails(int taskId) {
                taskService.AddSTask.TaskId = taskId;
                await taskService.AddSTask.GetTask();
                NavigationManager.NavigateTo("/subtask");
            }
            private void Przenies(int typ){
                NavigationManager.NavigateTo("/addtask");
            }
        }

        <a href="/" class="button">Wróć</a>

</div>
@code{
    
    protected override void OnAfterRender(bool firstRender){
        if (firstRender){
            filterTask();
            StateHasChanged();
        }
    }
    public async void filterTask() {
        await taskService.showTask.FilterTasks();
        StateHasChanged();
    }
    public async void refreshOnAddTask(){
        await taskService.addTask.AddTask();
        await taskService.showTask.FilterTasks();
        StateHasChanged();
    }
   
}