@page "/settings"
@using timeorganizer.Services
@using timeorganizer.Helpers
@inject SettingsService service
@inject LoginService loginService


<div id="container">

@if(service.option == -1) // DOMYSLNY WIDOK
{
			<div id="userinformation">
			<br/>
				<h2>KONTO</h2>
			<label>Email: <span>@loginService.Email</span> </label>
            <label>Login: <span>@loginService.Login</span></label>
			<label>Data Utw.: <span>@loginService.DateCreate</span></label>
			<br /><br />
				<h2>USTAWIENIA</h2>
			</div>


			<button class="button-menu" @onclick="@(e => changeoption(1))">
				<span class="oi oi-envelope-closed" aria-hidden="true"></span> Zmień Email
			</button>
			<button class="button-menu" @onclick="@(e => changeoption(2))">
				<span class="oi oi-lock-locked" aria-hidden="true"></span>Zmień hasło
			</button>
			<button class="button-menu" @onclick="@(e => changeoption(3))">
				<span class="oi oi-lock-locked" aria-hidden="true"></span>Zmień Email i Hasło
			</button>
			<button class="button-menu" @onclick="@(e => changeoption(4))">
				<span class="oi oi-trash" aria-hidden="true"></span>Usuń konto
			</button>
		<br />

	<div id="footer">
			<a href="/" class="button"><button class="button-back">Wróć</button></a>
            <a href="kontakt" class="button"><button class="button-help">Pomoc</button></a>
	</div>
}
@if (service.option == 1) // ZMIANA EMAIL
{

		<h2>Wprowadź dane</h2>
		<br />
		<input @bind="service.Email" placeholder="Podaj email"/>
		<br />
		<input @bind="service.CurrentPassword" placeholder="Podaj haslo" type="password"/>
		<br />
		<button type="button" class="btn btn-success btn-rounded  btn-block btn-lg" data-mdb-ripple-color="#ffffff" style="background-color:blueviolet" @onclick="summit">Zatwierdz zmiany</button>
		<button type="button" class="btn btn-danger btn-rounded btn-block btn-lg" @onclick="@(e=> changeoption(-1))">Wróć</button>


}
@if (service.option == 2) // ZMIANA HASLA
{

		<h2>Wprowadź dane</h2>
		<br />
		<input @bind="service.Password" placeholder="Podaj nowe haslo" />
		<br />
		<input @bind="service.ConfirmPassword" placeholder="Powtorz nowe haslo" />
		<br />
		<input @bind="service.CurrentPassword" placeholder="Podaj obecne haslo" type="password" />
		<br />
		<button type="button" class="btn btn-success btn-rounded  btn-block btn-lg" data-mdb-ripple-color="#ffffff" style="background-color:blueviolet" @onclick="summit">Zatwierdz zmiany</button>

		<button type="button" class="btn btn-danger btn-rounded btn-block btn-lg" @onclick="@(e=> changeoption(-1))">Wróć</button>


}
@if (service.option == 3) //ZMIANA LOGIN I HASLO
{

		<h2>Wprowadź dane</h2>
		<br />
		<input @bind="service.Email" placeholder="Email"/>
		<br />
		<input @bind="service.Password" placeholder="Nowe Haslo"/>
		<br />
		<input @bind="service.ConfirmPassword" placeholder="Powtorz haslo"/>
		<br />
		<input @bind="service.CurrentPassword" placeholder="Obecne haslo" type="password" />
		<br />
		<button type="button" class="btn btn-success btn-rounded  btn-block btn-lg" data-mdb-ripple-color="#ffffff" style="background-color:blueviolet" @onclick="summit">Zatwierdz zmiany</button>

		<button type="button" class="btn btn-danger btn-rounded btn-block btn-lg" @onclick="@(e=> changeoption(-1))">Wróć</button>

}
@if (service.option == 4) // USUN KONTO
{
		<h2>Wprowadź hasło</h2>
		<br />
		<input @bind="service.CurrentPassword" placeholder="Podaj haslo" type="password" />
		<br />
		<button type="button" class="btn btn-success btn-rounded  btn-block btn-lg" data-mdb-ripple-color="#ffffff" style="background-color:blueviolet" @onclick="summit">Zatwierdz zmiany</button>

		<button type="button" class="btn btn-danger btn-rounded btn-block btn-lg" @onclick="@(e=> changeoption(-1))">Wróć</button>

}
</div>


@code{

	private void changeoption(int i)
	{
		service.Email = null;
		service.Password = null;
		service.CurrentPassword = null;
		service.ConfirmPassword = null;
		service.option = i;
		StateHasChanged();
	}
	private async void summit()
	{
		await service.Change();
		await loginService.InfoUser();
		service.Email = null;
		service.Password = null;
		service.CurrentPassword = null;
		service.ConfirmPassword = null;
		StateHasChanged();
	}

}


