@page "/todo"
@using timeorganizer.Services
@using timeorganizer.Helpers

<div id="container1">
    <div>
<h2> Zadania</h2>
@inject ToDoService taskService
@inject NavigationManager NavigationManager
<div style="display: grid; grid-template-columns: auto 1fr;" class="d-flex flex-row">
    @* <div style="grid-row: 1; grid-column: 1;">
        <label>Nazwa </label>
        <input @bind="@taskService.showTask.Name" />
    </div>
    <div style="grid-row: 2; grid-column: 1;">
        <label>Opis </label>
        <input @bind="@taskService.showTask.Description" />
    </div> *@
    <div style="grid-row: 3; grid-column: 1;">
        <label>Typ</label>
        <input @bind="@taskService.showTask.Typ" />
    </div>
    <div style="grid-row: 4; grid-column: 1;">
        <label>Status </label>
        <input @bind="@taskService.showTask.Status" />
    </div>
    <div style="grid-row: 5; grid-column: 1;">
        <label>Data</label>
        <input type="date" @bind="@taskService.showTask.CreatedD" />
    </div>
</div>

<button @onclick="@dd" style="margin: 10px auto; display: block;">Filtruj</button>

@code {
    private async void RedirectToDetails(int taskId) {
        taskService.AddSTask.TaskId = taskId;
        await taskService.AddSTask.GetTask();
        NavigationManager.NavigateTo("/subtask");
    }
}
        
            
        
        @foreach (var task in taskService.showTask.TasksCollection) {
    <div class="d-flex flex-row border p-2" style="cursor: pointer;">
        <p class="mr-3 mb-0">@task.Name</p>
        <p class="mr-3 mb-0">@task.Description</p>
        <p class="mr-3 mb-0">@task.Type</p>
        <p class="mr-3 mb-0">@task.status</p>
        <p class="mr-3 mb-0">@task.Termin</p>
        <button @onclick="@(e => RedirectToDetails(@task.Id))">Szczegóły zadania</button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <label class="form-label">Podaj tytuł swojego zadania</label>
            <input class="form-control" @bind="@taskService.addTask.Name" placeholder="Np. Nauka Języka Angielskiego" />

            <label class="form-label mt-3">Opisz swoje zadania</label>
            <input class="form-control" @bind="@taskService.addTask.Description" placeholder="Określ konkrety, które chcesz zrealizować." />

            <label class="form-label mt-3">Określ typ zadania</label>
            <input class="form-control" @bind="@taskService.addTask.Typ" placeholder="Wprowadź typ zadania: home/work/hobby/other" />

            <label class="form-label mt-3">Podaj Termin wykonania zadania</label>
            
            <input class="datepicker" type="date" data-date-format="dd/mm/yyyy" @bind="@taskService.addTask.Termin">
            
            

            <button class="btn btn-primary mt-3" @onclick="@(() => taskService.addTask.AddTaskCommand.Execute(true))">Utwórz główne zadanie</button>
           
        </div>
    </div>
</div>
        <a href="home" class="button">Wróć</a>
    </div>
</div>
@code{
    public async void dd()
    {
        await taskService.showTask.FilterTasks();
        StateHasChanged();
    }
   
}